{% load static %}

<!DOCTYPE html>

<html lang="fr">

  <head>

      <meta charset="UTF-8">

      {% block title %}
        <title>Calculateur d'aides PHOTEN</title>
      {% endblock %}

      <link rel="stylesheet" href="{% static 'style.css' %}">

  </head>

  <body>

    <nav>

      <div></div>

      <div  id="logo">
        <a id="accueil_logo" href="{% url 'index' %}">
        </a>
      </div>

      <a href="{% url 'index' %}">
        <div id="accueil">
          Retour à l'accueil
        </div>
      </a>

    </nav>

    <div id="centerme">
      {% block content %}
      {% endblock %}
    </div>

    <script type="text/javascript">

      let ramp = document.getElementById("id_surface_rampants")
      let perdus = document.getElementById("id_surface_perdus")
      let bin_input = true

      const aides = {
        one: ["< 14 879 €", "< 19 074 €", "< 29 148 €", "> 29 148 €"],
        two: ["< 21 760 €", "< 27 896 €", "< 42 848 €", "> 42 848 €"],
        three: ["< 26 170 €", "< 33 547 €", "< 51 592 €", "> 51 592 €"],
        four: ["< 30 572 €", "< 39 192 €", "< 60 336 €", "> 60 336 €"],
        five: ["< 34 993 €", "< 44 860 €", "< 69 081 €", "> 69 081 €"],
        six: ["< 39 405 €", "< 50 511 €", "< 77 825 €", "> 77 825 €"],
        seven: ["< 43 817 €", "< 56 162 €", "< 86 569 €", "> 86 569 €"],
        eight: ["< 48 229 €", "< 61 813 €", "< 95 313 €", "> 95 313 €"],
      }

      function updatePrime(element) {
        let label_index = 10
        let tile_index = 0
        for (let i = 0 ; i < 4 ; i++) {
          document.getElementsByTagName("label")[label_index].innerText = aides[element][tile_index]
          label_index++
          tile_index++
        }
      }
      
      try {
        for ( let i = 0 ; i < 8 ; i++ ) {
          let prim_array = ["one", "two", "three", "four", "five", "six", "seven", "eight"]
          document.getElementById("id_family_members_" + i).addEventListener("click", function() {updatePrime(prim_array[i])})
        }
      }
      catch 
      {}

      function showKeypad(e) {
        let keypad = document.getElementById("keypad");
        ramp.attr('readonly', 'readonly');
        perdus.attr('readonly', 'readonly');
        if (e == "id_surface_rampants") {
          ramp.style.border = "1.5px solid rgb(25, 105, 255)"
          perdus.style.border = "none"
          bin_input = true
          keypad.style.display ="grid"
          //keypad.style.transform ="translateY(-3px)"
            perdus.value = ""
        }
        else if (e == "id_surface_perdus") {
          perdus.style.border = "1.5px solid rgb(25, 105, 255)"
          ramp.style.border = "none"
          bin_input = false
          keypad.style.display ="grid"
          //keypad.style.transform ="translateY(65px)"
            ramp.value = ""
        }
      }

      try {
        let key_value = ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "arr"]
        for ( let i = 0 ; i < 12 ; i++ ) {
          var key_nb = document.getElementById("keypad_" + key_value[i])
          key_nb.addEventListener("click", 
          function() {
            if (bin_input == true) {
              if (ramp.value == "0") {
                ramp.value = ""
              }
              ramp.value += key_value[i]
            }
            else if (bin_input == false) {
              if (perdus.value == "0") {
                perdus.value = ""
              }
              perdus.value += key_value[i]
            }
          })
        }
      }
      catch(e)
      {}

      try {
        ramp.addEventListener("click", function() {showKeypad("id_surface_rampants")})
        perdus.addEventListener("click", function() {showKeypad("id_surface_perdus")})
      }
      catch(e) 
      {}

      function openTable(color) {
        let color_array = ["blue_word", "yellow_word", "purple_word", "pink_word"]
        let color_table = ["blue", "yellow", "purple", "pink"]
        let color_index = color_array.indexOf(color)
        let table = document.getElementById("table_" + color_table[color_index])
        let white_bckg = document.getElementById("white_bckg")
        let btn_close = document.getElementById("btn_close")
        
        table.style.visibility = "visible"
        white_bckg.style.visibility ="visible"
        btn_close.style.visibility ="visible"

        document.getElementById("btn_close").addEventListener("click", function() {
          table.style.visibility = "hidden"
          white_bckg.style.visibility ="hidden"
          btn_close.style.visibility ="hidden"
        })
      }

      try {
        let color_word = document.getElementsByTagName("span")[1]
        document.getElementById("aides").addEventListener("click", function() {openTable(color_word.id)})
      }
      catch(e)
      {}

    </script>

  </body>

</html>
