{% load static %}

<!DOCTYPE html>

<html lang="fr">

  <head>

      <meta charset="UTF-8">

      {% block title %}
        <title>Calculateur d'aides PHOTEN</title>
      {% endblock %}

      <link rel="stylesheet" href="{% static 'style.css' %}">

  </head>

  <body>

    <nav>

      <div  id="logo">
        <a href="{% url 'index' %}">
          <img src="/static/media/logo.png" alt="logo photen">
        </a>
      </div>

      <a href="{% url 'index' %}">
        <div id="accueil">
          Retour à l'accueil
        </div>
      </a>

    </nav>


    {% block content %}
    {% endblock %}

    <script src="../questions/js/index.js">

    </script>

  </body>

</html>
