{% extends 'base.html' %}

{% block title %}
    <title>Informations Générales</title>
{% endblock %}

{% block content %}
    <form class="form" method="post">
        {% csrf_token %}

        <div id="infos">
            {{ infos.as_p }}
        </div>

        <div id="products">
            {{ project_type.as_p }} 
        </div>

        <div id="pv_logement">
            {{ pv_characteristics }}
        </div>

        <input class="next" type="submit" value="Suivant">
    </form>
{% endblock %}