{% extends 'base.html' %}

{% block title %}
    <title>Informations Générales</title>
{% endblock %}

{% block content %}
    <form class="form" method="post">
        {% csrf_token %}

        <div id="{{ form_id }}">
            {{ form.as_p }}
        </div>

        <div id="form_nav">
            <input class="next" type="submit" name="next" value="Suivant">
        </div>
    </form>

    {% if not first_question %}
        <form class="previous-form" method="post">
        {% csrf_token %}

            <input class="previous" type="submit" name="previous" value="Précédent">
        </form>
    {% endif %}

{% endblock %}