@font-face{
    font-family: "Raleway-Black";
    src: url(../../../../Raleway/static/Raleway-Black.ttf) format(ttf)
}

:root {
    --checked-color: rgb(25, 105, 255);
}

body {
    background: linear-gradient(60.4deg, #55B995 29.29%, #00A6B8 98.36%);
    font-family: "Raleway-Black";
    height: 100vh;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20vh;
    margin-bottom: 50px;
}

nav a {
    font-size: 20px;
    height: 90px;
    color: white;
    outline: none;
    text-decoration: none;
}

nav #accueil {
    background-image: url(../static/media/fleche-retour.png);
    background-repeat:no-repeat;
    background-size:contain;
    background-position-x: right;
    height:60px;
    width:185px;
    margin: 40px 40px 0px 0px;
}

#logo {
    display: flex;
    justify-content: center;
    transform: translate(12%);
    margin-top: 10px
    scale: 100%;
}

#div_btn_simu {
    text-align: center;
    margin-top: 15%;
}

#btn_simu {
    width: 648px;
    height: 300px;
    background: #0095B6;
    border: 1px solid rgba(255, 255, 255, 0.46);
    box-shadow: 0px 0px 62px -5px rgba(0, 0, 0, 0.25), inset 0px 0px 5px 4px rgba(255, 255, 255, 0.25);
    border-radius: 8px;
    padding: 40px;
    text-decoration: none;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

#btn_simu:active {
    border: 3px solid rgba(255, 255, 255, 0.90);
}


.form {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

#form_nav {
    position: absolute;
    bottom: 100px;
    transform: translate(200px);
}

#form_product {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#form_product p {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    max-width: 270px;
}

#form_SurfaceIso p {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    min-width: 600px;
    width: 600px;
    margin-bottom: 30px;
}

#form_SurfaceIso label {
    text-align: left;
    width: 200px;
    min-width: 200px;
}

#form_SurfaceIso input {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: textfield;
    outline: 0;
    background: rgba(185, 236, 211, 0.91);
    border-radius: 4px;
    font-size: 24px;
}

#form_product label {
    position: relative;
    right: 90%;
    top: 80px;
    min-width: 235px;
    max-width: 240px;
    text-align: center;
    color: rgb(54, 54, 54);
}

#id_pv {
    background-image: url(./media/pv_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0px 10px 35px 17px;
    background-origin: content-box;
} 

#id_pac {
    background-image: url(./media/pac_logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
    padding: 10px 30px 30px 30px;
} 

#id_pv_power, #id_power {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 50px;
}

#id_pv_power li, #id_power li {
    width: 120px;
    height: 120px;
    margin: 0px 10px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#id_pv_power input, #id_power input {
    cursor: pointer;
    width: 120px;
    min-width: 120px;
    height: 120px;
    min-height: 120px;
    font-size: 28px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: rgba(185, 236, 211, 0.91);
    border-radius: 4px;
}

#id_pv_power label, #id_power label {
    min-width: 0px;
    width: min-content;
    position: relative;
    bottom: 62%;
    left: 3px;
    color:rgb(54, 54, 54);
}

#id_pv_power input:not(:checked), #id_power input:not(:checked) {
    transition: 0.5s; 
}


#id_family_members {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 50px;
}

#id_family_members li {
    width: 120px;
    height: 120px;
    margin: 0px 10px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#id_family_members label {
    min-width: 0px;
    width: min-content;
    position: relative;
    bottom: 62%;
    left: 3px;
    color:rgb(54, 54, 54);
}


#id_family_members input {
    cursor: pointer;
    width: 120px;
    min-width: 120px;
    height: 120px;
    min-height: 120px;
    font-size: 28px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: rgba(185, 236, 211, 0.91);
    border-radius: 4px;
}

#id_family_members input:checked {
    border: solid 4px var(--checked-color);
    box-shadow: 0px 0px 2px 0px rgb(71, 71, 71);
    scale: 105%;
    transition: 0.2s; 
}

#id_income_color {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    width: auto;
}

#id_income_color li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#id_income_color li label {
    min-width: 200px;
    width: min-content;
    position: relative;
    bottom: 47%;
    left: 1%;
}

#id_income_color_0 {
    background: rgb(17, 79, 212);
    width: 250px;
}

#id_income_color_1 {
    background: rgb(218, 187, 15);
    width: 250px;
}

#id_income_color_2 {
    background: rgb(107, 10, 102);
    width: 250px;
}

#id_income_color_3 {
    background: rgb(255, 39, 86);
    width: 250px;
}

#id_income_color_0:checked, #id_income_color_1:checked, #id_income_color_2:checked, #id_income_color_3:checked {
    scale: 105%;
    border: solid 3px rgb(255, 255, 255);
    box-shadow: 0px 0px 3px 1px rgb(71, 71, 71);
    transition: 0.2s;
}

#products p {
    margin: auto;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

#pv_logement {
    display: block;
    align-content: center;
}

#pv_logement p {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#id_pv_type_0 {
    background-image: url(./media/bckgPVC.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    width: 250px;
}

#id_pv_type_1 {
    background-image: url(./media/bckgPVH.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 250px;
    width: 250px;
}

#id_pac_type_0 {
    background-image: url(./media/air.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-origin: content-box;
    padding: 10px 30px 30px 30px;
    height: 250px;
    width: 250px;
}

#id_pac_type_1 {
    background-image: url(./media/water.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-origin: content-box;
    padding: 10px 30px 30px 30px;
    height: 250px;
    width: 250px;
}

#id_pv_type_0:checked, #id_pv_type_1:checked, #id_pac_type_0:checked, #id_pac_type_1:checked {
    border: 5px solid rgb(27, 82, 153);
    scale: 103%;
    transition: 0.1s;
}

#id_power, #id_pv_type, #id_pac_type {
    list-style: none;
}

#id_pv_type, #id_pac_type {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#pv_logement p label {
    display: block;
    text-align: center;
}   

input[type="checkbox"], input[type="radio"] {
    cursor: pointer;
    width: 250px;
    min-width: 250px;
    height: 250px;
    font-size: 28px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: rgba(185, 236, 211, 0.91);
    border-radius: 4px;
}

input[type="checkbox"]:checked, input[type="radio"]:checked {
    background-image: url("/static/media/blue-check-mark.png");
    background-repeat: no-repeat;
    background-size: 33px;
    background-position-y: 3px;
    background-position-x: 2px;
    background: rgba(199, 251, 255, 0.91);;
    border: solid 5px rgb(27, 82, 153);
    box-shadow: 0px 0px 2px 0px rgb(71, 71, 71);
    scale: 102%;
    transition: 0.1s; 
}

input[type="checkbox"]:not(:checked), input[type="radio"]:not(:checked) {
    transition: 0.1s; 
}

label {
    display: block;
    text-align: center;
    font-family: "Raleway-Black";
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    color: #ffffff;
} 

.next, .previous {
    background: #0095B6;
    border: 1px solid rgba(255, 255, 255, 0.46);
    box-shadow: 0px 0px 62px -5px rgba(0, 0, 0, 0.25), inset 0px 0px 5px 4px rgba(255, 255, 255, 0.25);
    border-radius: 8px;
    color: white;
    min-width: 100px;
    width: 150px;
    margin: 50px auto auto auto;
    padding: 10px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.next:active, .previous:active {
    border: 3px solid rgba(255, 255, 255, 0.90);
}