@font-face{
    font-family: Raleway;
    src: url('../static/fonts/Raleway-Regular.ttf') format("truetype");
}

:root {
    --checked-color: rgb(25, 105, 255);
}

#keypad {
    display: none;
    position: absolute;
    left: 15%;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
    justify-content: end;
}

.keypad_input {
    height: 50px;
    width: 50px;
    font-size: 25px;
    font-family: Raleway;
    color: rgb(54, 54, 54);
    background: white;
    /*border: 1px solid rgb(187, 187, 187);*/
    border: none;
    margin: 5px;
    border-radius: 3px;
    box-shadow: 0px 0px 1.5px 0.3px rgb(54, 54, 54);
}

.keypad_input:active {
    border: 2px solid rgb(95, 95, 95);
    background: rgb(220, 232, 233);
}

body {
    /*background: linear-gradient(60.4deg, #55B995 29.29%, #00A6B8 98.36%);*/
    background: rgb(252, 252, 252);
    font-family: "Raleway";
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20vh;
    margin-bottom: 5px;
}

nav a {
    font-size: 20px;
    height: 90px;
    color: white;
    outline: none;
    text-decoration: none;
}

nav #accueil {
    background-image: url(../static/media/fleche-retour.png);
    background-repeat:no-repeat;
    background-size:contain;
    background-position-x: right;
    height:60px;
    width: 200px;
    margin: 60px 60px 0px 0px;
    color:rgb(54, 54, 54);
}

#logo {
    display: flex;
    justify-content: center;
    transform: translate(12%);
    margin-top: 10px;
    scale: 100%;
}

#accueil_logo {
    background-image: url(./media/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    top: 30px;
    height: auto;
    width: 800px;
}

#centerme {
    margin-top: 50px;
}

#div_btn_simu {
    text-align: center;
    margin-top: 15%;
}

#btn_simu {
    width: 648px;
    height: 300px;
    background: #0095B6;
    border: 2px solid rgba(255, 255, 255, 0.46);
    box-shadow: 0px 0px 1px 0.3px rgba(0, 0, 0, 0.6); /*inset 0px 0px 5px 4px rgba(255, 255, 255, 0.25);*/
    border-radius: 8px;
    padding: 40px;
    text-decoration: none;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

#btn_simu:active {
    border: 3px solid rgba(255, 255, 255, 0.90);
}

.form {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    font-family: "Raleway";
}

#form_nav {
    position: relative;
    margin-top: 50px;
    bottom: 55px;
    transform: translate(130px);
}

#form_product {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 7%;
    margin-bottom: 15%;
}

#form_product p {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    margin: 5px;
    max-width: 180px;
}

#form_SurfaceIso {
    margin-top: 12%;
    margin-bottom: 100px;
}

#form_SurfaceIso p {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    min-width: 600px;
    width: 600px;
    margin-bottom: 30px;
}

#form_SurfaceIso label {
    text-align: left;
    width: 250px;
    min-width: 200px;
}

#form_SurfaceIso input {
    -webkit-appearance: none;
    appearance: none;
    -moz-appearance: textfield;
    outline: 0;
    background: rgba(255, 255, 255, 0.91);
    box-shadow: 0px 0px 2px 0px rgb(54, 54, 54);
    border-radius: 4px;
    font-size: 24px;
    border: 1px solid rgb(117, 117, 117);
    color: rgb(54, 54, 54);
}

#form_product label {
    position: relative;
    right: 100%;
    top: 0px;
    min-width: 180px;
    max-width: 180px;
    width: 180px;
    height: 180px;
    display: flex;
    font-size: 18px;
    align-items: flex-end;
    justify-content: center;
    color: rgb(54, 54, 54);
}

#form_product input {
    background-repeat: no-repeat;
    background-size: contain;
    background-origin: content-box;
    padding: 30px;
}

#form_product input:checked {
    z-index: -1;
}

#id_pv {
    background-image: url(./media/pv_logo.png);
} 

#id_pac {
    background-image: url(./media/pac_logo.png);
} 

#id_iso {
    background-image: url(./media/iso_logo.png);
}

#id_btd {
    background-image: url(./media/btd_logo.png);
}

#id_cesol {
    background-image: url(./media/ces_logo.png);
}

#form_PVCharacteristics ul, #form_PACCharacteristics ul {
    padding: 0px;
}

#id_pv_power, #id_power {
    display: flex;
    justify-content: center;
    list-style: none;
}

#id_pv_power li, #id_power li {
    width: 120px;
    height: 120px;
    margin: 0px 5px 5px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#id_pv_power input, #id_power input {
    cursor: pointer;
    width: 120px;
    min-width: 120px;
    height: 120px;
    min-height: 120px;
    font-size: 28px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: rgba(255, 255, 255, 0.91);
    border-radius: 4px;
}

#id_pv_power label, #id_power label {
    min-width: 0px;
    width: min-content;
    position: relative;
    bottom: 51%;
    left: 43%;
    color:rgb(54, 54, 54);
}

#id_pv_power input:not(:checked), #id_power input:not(:checked) {
    transition: 0.5s; 
}


#id_family_members {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 50px;
}

#id_family_members li {
    width: 120px;
    height: 120px;
    margin: 0px 10px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#id_family_members label {
    min-width: 0px;
    width: min-content;
    position: relative;
    bottom: 52%;
    left: 45%;
    color:rgb(54, 54, 54);
}


#id_family_members input {
    cursor: pointer;
    width: 120px;
    min-width: 120px;
    height: 120px;
    min-height: 120px;
    font-size: 28px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: rgba(255, 255, 255, 0.91);
    border-radius: 4px;
}

#id_family_members input:checked {
    border: solid 4px var(--checked-color);
    box-shadow: 0px 0px 2px 0px rgb(71, 71, 71);
    scale: 105%;
    transition: 0.2s; 
}

#id_income_color {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    width: auto;
}

#id_income_color li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#id_income_color li label {
    min-width: 200px;
    width: min-content;
    position: relative;
    bottom: 50%;
    left: 14%;
    color: white;
}

#id_income_color label {
    min-width: 200px;
    width: min-content;
    position: relative;
    bottom: 50%;
    left: 1%;
    color: white;
}

#id_income_color_0 {
    background: rgb(17, 79, 212);
    border: none;
    width: 180px;
}

#id_income_color_1 {
    background: rgb(218, 187, 15);
    border: none;
    width: 180px;
}

#id_income_color_2 {
    background: rgb(107, 10, 102);
    border: none;
    width: 180px;
}

#id_income_color_3 {
    background: rgb(255, 39, 86);
    border: none;
    width: 180px;
}

#id_income_color_0:checked, #id_income_color_1:checked, #id_income_color_2:checked, #id_income_color_3:checked {
    scale: 105%;
    border: solid 5px rgb(255, 255, 255);
    box-shadow: 0px 0px 3px 1px rgb(71, 71, 71);
    transition: 0.2s;
}

#products p {
    margin: auto;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

#pv_logement {
    display: block;
    align-content: center;
}

#pv_logement p {
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#id_pv_type_0 {
    background-image: url(./media/bckgPVC.png);
    background-repeat: no-repeat;
    background-position: contain;
    height: 180px;
    width: 180px;
}

#id_pv_type_1 {
    background-image: url(./media/bckgPVH.png);
    background-repeat: no-repeat;
    background-position: contain;
    height: 180px;
    width: 180px;
}

#id_pac_type_0 {
    background-image: url(./media/air.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-origin: content-box;
    padding: 10px 30px 30px 30px;
    height: 180px;
    width: 180px;
}

#id_pac_type_1 {
    background-image: url(./media/water.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-origin: content-box;
    padding: 10px 30px 30px 30px;
    height: 180px;
    width: 180px;
}

#id_pv_type_0:checked, #id_pv_type_1:checked, #id_pac_type_0:checked, #id_pac_type_1:checked {
    border: 5px solid rgb(27, 82, 153);
    scale: 103%;
    transition: 0.1s;
}

#id_pv_type {
    margin-bottom: 70px;
}

#id_power, #id_pv_type, #id_pac_type {
    list-style: none;
}

#id_pv_type, #id_pac_type {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

#id_pac_type li label {
    min-width: 200px;
    width: min-content;
    left: 12%;
    color: rgb(54, 54, 54);
    position: relative;
    bottom: 20%;
}

id_pac_type label {
    min-width: 200px;
    width: min-content;
    left: 12%;
    color: rgb(54, 54, 54);
    position: relative;
    bottom: 20%;
}

#pv_logement p label {
    display: block;
    text-align: center;
}   

input[type="checkbox"], input[type="radio"] {
    cursor: pointer;
    width: 180px;
    min-width: 180px;
    height: 180px;
    font-size: 22px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: rgba(255, 255, 255, 0.91);
    border-radius: 4px;
    border: 1.5px solid royalblue;
    box-shadow: 0px 0px 2px 0px rgb(71, 71, 71);
}

input[type="checkbox"]:checked, input[type="radio"]:checked {
    border: solid 5px rgb(27, 82, 153);
    box-shadow: 0px 0px 2px 0px rgb(71, 71, 71);
    scale: 102%;
    transition: 0.1s;
}

input[type="checkbox"]:not(:checked), input[type="radio"]:not(:checked) {
    transition: 0.1s; 
}

label {
    display: block;
    text-align: center;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: rgb(54, 54, 54);
} 

.next, .previous {
    background: #0095B6;
    border: 1px solid rgba(255, 255, 255, 0.46);
    box-shadow: 0px 0px 2px -5px rgba(0, 0, 0, 0.25), inset 0px 0px 5px 4px rgba(255, 255, 255, 0.25);
    border-radius: 8px;
    color: white;
    min-width: 100px;
    width: 190px;
    margin: auto;
    padding: 10px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;

    outline: none;
    text-decoration: none;
}

#terminer {
    background: #00B65E;
    border: 1px solid rgba(255, 255, 255, 0.46);
    box-shadow: 0px 0px 62px -5px rgba(0, 0, 0, 0.25), inset 0px 0px 5px 4px rgba(255, 255, 255, 0.25);
    border-radius: 8px;
    color: white;
    min-width: 100px;
    width: 150px;
    margin: 50px auto auto auto;
    padding: 10px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    outline: none;
    text-decoration: none;
    display: block;
}

h1 {
    text-align: center;
    color: rgb(54, 54, 54);
    margin: 20px 0px 50px 0px;
}

#results_list {
    margin: auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: rgb(54, 54, 54);
}

#results_data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#results_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#results_data ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: Opx;
    padding: 0px;
}

#results_data li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: max-content;
}

.primes_values {
    width: 140px;
    text-align: right;
}

.project_item {
    width: max-content;
    min-width: 430px;
}

#votre_projet {
    width: 320px;
    padding-left: 90px;
}

#results_total {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.total_text {
    margin-top: 70px;
    font-size: 30px;
}

.next:active, .previous:active {
    border: 3px solid rgba(255, 255, 255, 0.90);
}

.previous-form input {
    position: relative;
    bottom: 110px;
    transform: translateX(-130px);
}